In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [68]:
train

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Target
25161,-2.711211,-2.068129,-2.395300,5.260388,5.644400,-1.028899,-2.159347,2.405257,1.499344,-3.873059,-1.843406,2.278687,-0.503591,1.394262,-0.177770,1.149937,-2.517033,1
8676,2.940254,1.376760,0.549768,-6.147914,-6.001311,-1.592683,-0.537528,0.668088,2.501607,-1.168020,-2.887329,0.298502,-3.337435,1.447883,4.306632,-1.512313,-1.486951,1
27364,-1.445967,1.124894,0.323860,-0.703558,-0.416018,1.078852,-3.673580,0.018898,2.788656,-2.354374,0.997467,2.760398,1.509551,3.499167,-4.111063,-2.489885,-1.155592,9
265,-1.562202,3.695795,3.609522,1.713952,-8.792629,-7.007499,-3.984586,0.890812,-6.641895,0.420344,-1.140776,2.678133,-1.390188,0.446050,2.644768,-4.559575,-2.579737,10
22727,2.123762,-1.527671,1.722839,4.474486,5.692391,0.311089,2.781791,3.915283,-4.543502,0.823086,0.551536,0.929066,-0.005025,-4.616170,-2.964817,3.256696,-0.714142,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,4.507376,-3.513740,-1.601859,-2.283940,0.608360,0.297674,2.381753,-4.597084,0.849862,-1.677306,-1.615592,3.825612,-0.619114,-1.953679,1.333453,1.563382,3.741945,6
5390,6.620957,3.596289,4.055126,-0.649042,-2.448032,-4.395171,0.296217,-3.804294,0.348720,-3.461992,-3.661042,0.417789,-1.555022,-3.174299,0.624229,2.878510,1.268467,7
860,2.676152,-2.016455,2.558622,2.061356,-1.400710,-1.616479,-0.775694,-0.929663,1.839962,0.095838,0.149558,2.970008,6.267657,1.741962,-1.590282,2.440389,1.983001,1
15795,-0.215843,-1.399474,0.133512,-5.948446,-0.018504,0.565339,-5.043357,6.486740,-5.718918,3.352068,-0.020981,3.839306,0.552000,-4.908085,2.406125,4.089571,-4.180726,5
23654,-6.256178,1.822633,-3.725497,-5.238812,0.390408,2.600537,3.075747,0.790626,-2.194350,0.111546,2.017157,1.638410,-1.877525,6.043139,0.428475,-2.716934,0.409190,1

In [7]:
test

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313.0
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510.0
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190.0
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435.0
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702.0

In [8]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [9]:
test.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0

In [10]:
train.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
318433,318434,6,a,6,X,3,radiotherapy,Q,F,4.0,86499,23.0,Emergency,Moderate,3,41-50,4144.0,11-20
318434,318435,24,a,1,X,2,anesthesia,Q,E,4.0,325,8.0,Urgent,Moderate,4,81-90,6699.0,31-40
318435,318436,7,a,4,X,3,gynecology,R,F,4.0,125235,10.0,Emergency,Minor,3,71-80,4235.0,11-20
318436,318437,11,b,2,Y,3,anesthesia,Q,D,3.0,91081,8.0,Trauma,Minor,5,11-20,3761.0,11-20
318437,318438,19,a,7,Y,5,gynecology,Q,C,2.0,21641,8.0,Emergency,Minor,2,11-20,4752.0,0-10

In [11]:
test.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313.0
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510.0
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190.0
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435.0
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702.0

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137057 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            137057 non-null  int64
 1   Hospital_code                      137057 non-null  int64
 2   Hospital_type_code                 137057 non-null  object
 3   City_Code_Hospital                 137057 non-null  int64
 4   Hospital_region_code               137057 non-null  object
 5   Available Extra Rooms in Hospital  137057 non-null  int64
 6   Department                         137057 non-null  object
 7   Ward_Type                          137057 non-null  object
 8   Ward_Facility_Code                 137057 non-null  object
 9   Bed Grade                          137022 non-null  float64
 10  patientid                          137057 non-null  int64
 11  City_Code_Patient                  134900 non-null  float64
 12  Type of Admission                  137057 non-null  object
 13  Severity of Illness                137057 non-null  object
 14  Visitors with Patient              137057 non-null  int64
 15  Age                                137057 non-null  object
 16  Admission_Deposit                  137057 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 17.8+ MB

In [14]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [15]:
test.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [74]:
test.dropna(inplace=True)

In [17]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [18]:
test.isnull().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
City_Code_Patient                    0
Type of Admission                    0
Severity of Illness                  0
Visitors with Patient                0
Age                                  0
Admission_Deposit                    0
dtype: int64

In [19]:
train.duplicated().sum()

0

In [20]:
test.duplicated().sum()

0

In [21]:
from sklearn.preprocessing import LabelEncoder
# Identify object columns
categorical_cols =train.select_dtypes(include=['object']).columns

# Apply Label Encoding
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    label_encoders[col] = le

In [22]:
# Identify object columns
categorical_cols =test.select_dtypes(include=['object']).columns

# Apply Label Encoding
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    test[col] = le.fit_transform(test[col])
    label_encoders[col] = le

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  int32
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  int32
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  int32
 7   Ward_Type                          318438 non-null  int32
 8   Ward_Facility_Code                 318438 non-null  int32
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  int32
 13  Severity of Illness                318438 non-null  int32
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  int32
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  int32
dtypes: float64(3), int32(9), int64(6)
memory usage: 32.8 MB

In [24]:
train['Stay'].unique()

array([ 0,  4,  3,  1,  5,  2,  7, 10,  8,  6,  9])

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134865 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            134865 non-null  int64
 1   Hospital_code                      134865 non-null  int64
 2   Hospital_type_code                 134865 non-null  int32
 3   City_Code_Hospital                 134865 non-null  int64
 4   Hospital_region_code               134865 non-null  int32
 5   Available Extra Rooms in Hospital  134865 non-null  int64
 6   Department                         134865 non-null  int32
 7   Ward_Type                          134865 non-null  int32
 8   Ward_Facility_Code                 134865 non-null  int32
 9   Bed Grade                          134865 non-null  float64
 10  patientid                          134865 non-null  int64
 11  City_Code_Patient                  134865 non-null  float64
 12  Type of Admission                  134865 non-null  int32
 13  Severity of Illness                134865 non-null  int32
 14  Visitors with Patient              134865 non-null  int64
 15  Age                                134865 non-null  int32
 16  Admission_Deposit                  134865 non-null  float64
dtypes: float64(3), int32(8), int64(6)
memory usage: 14.4 MB

In [26]:
test1=pd.read_csv('test_prediction.csv')

In [27]:
train.shape

(318438, 18)

In [28]:
test1.shape

(134865, 18)

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from sklearn.metrics import accuracy_score

# Step 2: Preprocessing (Assuming the last column is the target)
X_train = train.iloc[:, :-1]  # Features
y_train = train.iloc[:, -1]   # Target

X_test = test1.iloc[:, :-1]    
y_test = test1.iloc[:, -1]
# Step 3: Standardize the data (if necessary)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Step 4: Train the model (Using XGBoost)
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

# Step 5: Make predictions on test data
y_pred = model.predict(X_test)

# If the test.csv has actual labels, evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

In [30]:
!pip install xgboost
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from sklearn.metrics import accuracy_score

# Step 1: Generate Synthetic Data
X, y = make_classification(
    n_samples=32000, 
    n_features=17, 
    n_classes=11, 
    n_informative=17,
    n_redundant=0,
    n_repeated=0,# Increase informative features
    n_clusters_per_class=2,  # Keep clusters per class default (or adjust if needed)
    random_state=42
)

# Convert to DataFrame
df = pd.DataFrame(X, columns=[f'Feature_{i}' for i in range(X.shape[1])])
df['Target'] = y  # Add target column

# Step 2: Split into train and test sets
train, test1 = train_test_split(df, test_size=0.2, random_state=42)

# Step 3: Separate features and target
X_train = train.iloc[:, :-1]  # Features
y_train = train.iloc[:, -1].values  # Target as NumPy array

X_test = test1.iloc[:, :-1]    
y_test = test1.iloc[:, -1].values  # Target as NumPy array

# Step 4: Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Step 5: Train the XGBoost model
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

# Step 6: Make predictions
y_pred = model.predict(X_test)

# Step 7: Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

Requirement already satisfied: xgboost in c:\users\abign\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: numpy in c:\users\abign\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\abign\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Model Accuracy: 0.78

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Step 2: Preprocessing (Assuming the last column is the target)
X_train = train.iloc[:, :-1]  # Features
y_train = train.iloc[:, -1]   # Target

X_test = test1.iloc[:, :-1]    
y_test = test1.iloc[:, -1]

# Step 3: Standardize the data (if necessary)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Step 4: Train the model (Using Random Forest)
model = RandomForestClassifier(
    n_estimators=200,  # Number of trees
    max_depth=5,       # Maximum depth of each tree
    random_state=42,   # Ensuring reproducibility
    n_jobs=-1          # Use all available CPU cores
)
model.fit(X_train, y_train)

# Step 5: Make predictions on test data
y_pred = model.predict(X_test)

# If the test.csv has actual labels, evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.44

In [65]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

# Use MinMaxScaler instead of StandardScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train the Random Forest with better hyperparameters
model1 = RandomForestClassifier(
    n_estimators=300,  # More trees for better performance
    max_depth=10,  # Increase depth for capturing more patterns
    min_samples_split=5,  # Prevent overfitting
    min_samples_leaf=2,  # Minimum samples per leaf
    max_features='sqrt',  # Consider sqrt of features per split
    random_state=42,
    n_jobs=-1
)
model1.fit(X_train, y_train)

# Predictions
y_pred = model1.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Improved Model Accuracy: {accuracy:.2f}")

Improved Model Accuracy: 0.67

In [64]:
import pickle
pickle.dump(le,open('encoder.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))